<!DOCTYPE html>
<html>
  <head>
    <title>Battle the Battle</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id="attack">
      <%= @first_player %> attacked <%= @second_player %>
    </section>
  </body>
</html>