<<<<<<< HEAD
<form action="/named-cat" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
=======

<form action="/named-cat" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
>>>>>>> 5d1b563b25fff4e67946b1bec03a0ef56b430c35
