<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post"=>
<label for="first_player">
First player
  <input text="text" name="first_player">
  </label>
  <label for= "second_player">
Second player
  <input text="text" name="second_player">
  </label>
  <input type="submit" value="Enter">
</form>