<<<<<<< HEAD
<h1>My name is <%= @name %></h1>
<div id='media'>
=======
  <h1>My name is <%= @name %></h1>

<div id='media'> 
>>>>>>> 5d1b563b25fff4e67946b1bec03a0ef56b430c35
  <h2>Picture</h2>
  <img src='https://i.imgur.com/CmsAtQZ.jpeg' alt='Fluffy Kitten' style='border: 3px dashed pink'>
</div>
